[submodule "deps/llvm-project"]
	path = deps/llvm-project
	url = https://github.com/llvm/llvm-project.git
        shallow = true

[submodule "deps/bdwgc"]
	path = deps/bdwgc
	url = https://github.com/ivmai/bdwgc.git
	branch = release-8_2
        shallow = true

[submodule "deps/include-what-you-use"]
	path = deps/include-what-you-use
	url = https://github.com/include-what-you-use/include-what-you-use.git
        shallow = true
