[submodule "deps/llvm-project"]
	path = deps/llvm-project
	url = git@github.com:llvm/llvm-project.git
[submodule "deps/bdwgc"]
	path = deps/bdwgc
	url = git@github.com:ivmai/bdwgc.git
	branch = release-8_2
[submodule "deps/include-what-you-use"]
	path = deps/include-what-you-use
	url = git@github.com:include-what-you-use/include-what-you-use.git
